name: build
on:
  push:
    branches: [ main ]
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install atopile
        run: pip install atopile

      - name: Install KiCad CLI
        run: |
          sudo add-apt-repository --yes ppa:kicad/kicad-7.0-releases
          sudo apt-get update
          sudo apt-get install -y kicad-cli

      - name: Build
        run: bash scripts/build.sh

      - uses: actions/upload-artifact@v4
        with:
          name: outputs
          path: build/
